*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(196, 190, 190);
}
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    width: 100%;
    background-color: rgb(252, 162, 162);
    top: 0;
}
li{
    float: left;
}
li a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: rgb(56, 52, 52);
    font-size:20px ;
    border-right: 1px solid rgb(253, 252, 252);
}
li a:hover{
    background-color: aquamarine;
}
p{
    padding: 80px;
    margin: 85px;
}
.fond{
    background-color: rgb(30, 236, 3);
}